nav {
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start !important;
    align-items: center;
    background-color: #202020;
}

.nav__left,
.nav__right {
    display: flex;
    height: 100%;
    align-items: flex-start;
    column-gap: 52px;
}

.nav-logo {
    height: 60px;
}

.navs {
    display: flex;
    column-gap: 26px;
}

.navs > div {
    position: relative;
    > a {
        position: relative;
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        display: block;
        line-height: 30px;
        margin: 20px 0px;
        &:after {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 0%;
            height: 100%;
            display: block;
            content: '';
            transition: width .2s ease-in-out;
            border-bottom: 1px solid #fff;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    .models-label {
        display: none;
        width: 1px;
        list-style-type: none;
        li {
            padding: 12.5px 0px;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            display: block;
        }
        opacity: 0%;
    }

    .models {
        position: absolute;
        display: none;
        top: 60px;
        left: 0px;
        list-style-type: none;
        li {
            padding: 12.5px 0px;
        } 
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            display: block;
        }
    }

    &:hover > .models-label,
    &:hover > .models {
        display: block;
    }
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: #fff;
    fill: #fff;
    .nav-icon {
        width: 24px;
        height: 24px;
    }
}

.nav-icons {
    height: 60px;
    display: flex;
    align-items: center;
}